#Configuração MySQL
MYSQL_ROOT_PASSWORD = xxxxxxxxxxxxxxxxxxxxx
MYSQL_USER = xxxxxxxxxxxxxxxxxxxxx
MYSQL_PASSWORD = xxxxxxxxxxxxxxxxx
MYSQL_DATABASE = xxxxxxxxxxxxxxxx 

#VARIAVEIS AMBIENTE

# -- DATABASE --

DATABASE_URL= # URL de conexão do banco MySQL
REDIS_URL= # URL de conexão do Redis

# --- SEGURANÇA --- // Criptografa os dados

SECRET_KEY= # Chave secreta usada para gerar e validar tokens JWT
ALGORITHM=HS256 # Algoritmo utilizado para assinatura dos tokens JWT
ACCESS_TOKEN_EXPIRE_MINUTES=30  # Tempo de expiração do token  JWT em minutos

# -- API --

REALITY_DEFENDER_API_KEY= # Chave da API utilizada para integração com Reality Defender
DEEPFAKE_THRESHOLD=0.50 # Limite mínimo de confiança para considerar um vídeo como deepfake

# -- UPLOAD -- 

MAX_FILE_SIZE_MB=500 # Tamanho máximo permitido para upload de arquivos em MB
UPLOAD_DIR= # Diretório onde os vídeos enviados serão armazenados

# ---- Aplicação ----

ENVIRONMENT=development # Ambiente atual da aplicação // development | testing | production
DEBUG=true # Ativa/desativa modo debug da aplicação
API_V1_PREFIX=/api/v1 # Prefixo padrão das rotas da API // Caso no futuro, precise de outra API, não vai precisar alterar o BACK nem o FRON. Apenas criar a v2
LOG_LEVEL=INFO # Nível de detalhamento dos logs da aplicação // DEBUG | INFO | WARNING | ERROR | CRITICAL